name: CD
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+**"

concurrency:
  group: "Only run one instance of CD for ${{ github.ref_name }}"

jobs:
  cut-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to create a release
      packages: write # Required to push container images
    steps:
      - name: Validate the release tag
        env:
          # This is copy/pasted from https://semver.org/#is-there-a-suggested-regular-expression-regex-to-check-a-semver-string
          SEMVER_TAG_REGEX: ^v(?P<major>0|[1-9]\d*)\.(?P<minor>0|[1-9]\d*)\.(?P<patch>0|[1-9]\d*)(?:-(?P<prerelease>(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+(?P<buildmetadata>[0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$
          GIT_TAG: ${{ github.ref_name }}
        run: |
          # Check if the extracted version is a valid semver
          if ! $(echo "$GIT_TAG" | grep --perl-regexp --quiet "$SEMVER_TAG_REGEX"); then
              echo "Extracted version $GIT_TAG is not a valid semver" >&2
              exit 1
          fi
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install Earthly
        uses: earthly/actions-setup@43211c7a0eae5344d6d79fb4aaf209c8f8866203 # v1.0.13
        with:
          # renovate: earthly-version
          version: v0.8.16
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Cut a new release for ${{ github.ref_name }}
        env:
          GIT_TAG: ${{ github.ref_name }}
          GH_TOKEN: ${{ github.token }}
        run: earthly --ci --push --secret GH_TOKEN +release --GIT_TAG="$GIT_TAG"
